<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Tek izin kamera. INTERNET izni BİLEREK yok: uygulama ağa hiç
         çıkmıyor, metin tanıma cihazda çalışıyor. İstesek de gönderemeyiz —
         bu dosya bunun kanıtı. (Flutter'ın debug derlemesi hot reload için
         INTERNET ekler; release derlemede yoktur.) -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <!-- Bu dosyaya izin yazmamak yetmiyor: eklentilerin manifest'leri
         birleşince kendi izinlerini getiriyor. Kullanmadığımız beşini
         açıkça çıkarıyoruz, yoksa uygulama "mikrofon" ve "internet"
         istiyor görünüyor.

         RECORD_AUDIO + WRITE/READ_EXTERNAL_STORAGE : camera_android_camerax
           (video kaydı için; biz `enableAudio: false` ile tek kare alıyoruz)
         ACCESS_NETWORK_STATE : androidx.media3-common
           (camerax'in bağımlısı; bu uygulamada ağ diye bir şey yok)
         INTERNET : com.google.android.datatransport (ML Kit'in bağımlısı)
           Metin tanıma cihazda çalışıyor; bu izin modelin kendisi için
           değil, Google'ın kullanım telemetrisi için geliyor. İstemiyoruz.

         Doğrulama: release derlemesinden sonra
         build/app/intermediates/merged_manifest/ altındaki birleşmiş
         manifest'te bu beş izin görünmemeli. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove"/>

    <application
        android:label="Metin Tarayıcı"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
